pkgbase = laditools
	pkgdesc = Utilities to improve integration and workflow with JACK and LASH.
	pkgver = 1.1.0
	pkgrel = 1
	url = https://launchpad.net/laditools
	arch = any
	license = GPL3
	makedepends = git
	makedepends = python2-distutils-extra
	depends = glade
	depends = jack
	depends = pygtk
	depends = python2
	depends = python2-enum34
	depends = python2-yaml
	source = laditools::git+https://github.com/alessio/laditools.git#tag=v1.1.0
	sha256sums = SKIP

pkgname = laditools

